<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<th:block th:fragment="main-header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KidStarter</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a id="current-user" href="#Profile">Ivan</a></li>-->
                    <!--<li><a>:</a></li>-->
                    <th:block sec:authorize="hasAnyAuthority('USER')">
                        <li><a href="/mentor/add">Стать наставником</a></li>
                    </th:block>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a href="/main/registration">Регистрация</a></li>
                        <li><a href="/main/login">Войти</a></li>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('USER')">
                        <button data-toggle="dropdown" class="user-icon"
                                th:text="${#authentication.principal.login}">
                        </button>
                        <ul class="dropdown-menu">
                            <th:block sec:authorize="hasAnyAuthority('USER')">
                                <li><a href="#">Профиль</a></li>
                                <li><a href="#">Настройки</a></li>
                                <li><a href="/logout">Выход</a></li>
                            </th:block>
                        </ul>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="nav-sidebar">
    <th:block sec:authorize="hasAnyAuthority('USER')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" style="max-width: 200px">
                    <ul class="nav nav-sidebar">
                        <li id="main-link"><a href="/main">Главная</a></li>
                        <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                            <li id="tage-link"><a href="/tagPage">Теги</a></li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')">
                            <li id="create-tag-link"><a href="/cretejobtag">Создать интерес/тэг</a></li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                            <li id="create-user-link"><a href="/createUser">Создать пользователя</a></li>
                            <li id="edit-user-link"><a href="/editUser/1">Изменить пользователя</a></li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                            <li id="organization-page"><a href="/organizationPage">Организации</a></li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('USER')">

                            <li id="jobs-link"><a href="/jobPage">Интересы</a></li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')">
                            <li id="users-link"><a href="/adminpage">Пользователи</a></li>
                        </th:block>
                        <li id="contacts-link"><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
</body>
</html>
