#header {
    background-color: deepskyblue;
    height: 30px;
    width: 1000px;
}

.donate-button {
    float: right;
}

.donate-info-button{
    float: right;
}

.user-icon {
    border: black;
    border-radius: 40px;
    padding: 10px;
    float: right;
    background: yellow;
    text-align: center;
    color: red;
    min-width: 17%;
    margin-top: 6px;
}

/*#crumbs ul li a {*/
/*display: block;*/
/*float: left;*/
/*height: 50px;*/
/*background: #3498db;*/
/*text-align: center;*/
/*padding: 30px 40px 0 40px;*/
/*position: relative;*/
/*margin: 0 10px 0 0;*/

/*font-size: 20px;*/
/*text-decoration: none;*/
/*color: #fff;*/
/*}*/
/*#crumbs ul li a:after {*/
/*content: "";*/
/*border-top: 40px solid red;*/
/*border-bottom: 40px solid red;*/
/*border-left: 40px solid blue;*/
/*position: absolute; right: -40px; top: 0;*/
/*}*/
/*#crumbs ul li a:before {*/
/*content: "";*/
/*border-top: 40px solid transparent;*/
/*border-bottom: 40px solid transparent;*/
/*border-left: 40px solid #d4f2ff;*/
/*position: absolute; left: 0; top: 0;*/
/*padding: 30px 40px 0 80px;*/
/*}*/
/*#crumbs ul li:first-child a {*/
/*border-top-left-radius: 10px; border-bottom-left-radius: 10px;*/
/*}*/
/*#crumbs ul li:first-child a:before {*/
/*display: none;*/
/*}*/

/*#crumbs ul li:last-child a {*/
/*padding-right: 80px;*/
/*border-top-right-radius: 10px; border-bottom-right-radius: 10px;*/
/*}*/
/*#crumbs ul li:last-child a:after {*/
/*display: none;*/
/*}*/
/*#crumbs ul li a:hover {*/
/*background: #fa5ba5;*/
/*}*/
/*#crumbs ul li a:hover:after {*/
/*border-left-color: #fa5ba5;*/
/*}*/

#topBtn{
    width: 200px;
    background-color: hsl(169, 26%, 35%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58978b", endColorstr="#427067");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#58978b), to(#427067));
    background-image: -moz-linear-gradient(top, #58978b, #427067);
    background-image: -ms-linear-gradient(top, #58978b, #427067);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58978b), color-stop(100%, #427067));
    background-image: -webkit-linear-gradient(top, #58978b, #427067);
    background-image: -o-linear-gradient(top, #58978b, #427067);
    background-image: linear-gradient(#58978b, #427067);
    border-color: #427067 #427067 hsl(169, 26%, 32%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
    -webkit-font-smoothing: antialiased;
}

#breadcrumbMain{
    width: 520px;
}