<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">
    <title>KidStarter</title>
    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KidStarter</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a id="current-user" href="#Profile">Ivan</a></li>-->
                <!--<li><a>:</a></li>-->
                <!--<li><a id="user-role">User</a></li>-->
                <li><a href="#">Стать спонсором</a></li>
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/login">Войти</a></li>
                <!--<li><a href="/logout">Выйти</a></li>-->
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="max-width: 200px">
            <ul class="nav nav-sidebar nav-stacked">
                <li><a href="/main">Главная</a></li>
                <li><a href="/tagPage">Теги</a></li>
                <li><a href="/cretejobtag">Создать интерес/тэг</a></li>
                <li class="active"><a href="/createUser">Создать пользователя</a></li>
                <li><a href="/jobPage">Интересы</a></li>
                <li class="active"><a href="/adminpage">Пользователи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Список пользователей:</h1>
            <form class="navbar-form" action="/createUser" method="get">
                <input class="form-control" type="button" value="Создать пользователя">
            </form>
            <div class="table-responsive">
                <table id="table_userlist"  class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Логин</th>
                        <th>Роли</th>
                        <th>Дата создания</th>
                        <th>Возраст</th>
                        <th>Пол</th>
                        <th>Телефон</th>
                        <th>Почта</th>
                        <th>Страна</th>
                        <th>Адрес</th>
                        <th>Включен</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody id="table_body_userlist">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
<script src="/scripts/adminpage.js"></script>
</body>
</html>