<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

    <title>KidStarter</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="/scripts/createTeacher.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
git
<div th:replace="fragments/nav-bar::main-header"></div>
<div th:replace="fragments/crumbs::crumbs"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/nav-bar::nav-sidebar"></div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Добавление учителя</h1>
            <div class="table-responsive">
                <form class="form-addTeacher" onsubmit=" createTeacher();return false">
                    <label for="firstname">Имя</label>
                    <input id="firstname" class="form-control" required placeholder="Имя" type="text" name="firstname"/>

                    <label for="lastname">Фамилия</label>
                    <input id="lastname" class="form-control" required placeholder="Фамилия" type="text"
                           name="lastname"/>

                    <label for="patronymic">Отчество</label>
                    <input id="patronymic" class="form-control" required placeholder="Отчество" type="text"
                           name="patronymic"/>

                    <label for="login">Логин</label>
                    <input id="login" class="form-control" required placeholder="Логин" type="text" name="username"/>

                    <label for="password">Пароль</label>
                    <input id="password" class="form-control" required placeholder="Пароль" type="password"
                           name="password"/>

                    <label for="age">Возраст</label>
                    <input id="age" class="form-control" required placeholder="Возраст" type="number" name="age"/>

                    <label for="sex">Пол</label>
                    <select id="sex" name="sex" required class="form-control input-width center-block">
                        <option>Мужской</option>
                        <option>Женский</option>
                    </select>
                    <br>
                    <label for="phone">Телефон</label>
                    <input id="phone" class="form-control" required placeholder="Телефон" type="text" name="phone"/>

                    <label for="email">Электронная почта</label>
                    <input id="email" class="form-control" required placeholder="Электронная почта" type="email"
                           name="email"/>

                    <label for="country">Страна</label>
                    <input id="country" class="form-control" required placeholder="Страна" type="text" name="country"/>

                    <label for="address">Адрес</label>
                    <input id="address" class="form-control" required placeholder="Адрес" type="text" name="address"/>
                    <br/>
                    <input class="btn btn-lg btn-primary btn-block" name="saveUser" type="submit"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
<link rel="stylesheet" href="/css/styles.css"/>
<script src="/scripts/createjobtag.js"></script>
<script src="/scripts/user.js"></script>
<script src="/scripts/roles.js"></script>
<script src="/scripts/create_user.js"></script>
</body>
</html>