<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">
    <title>KidStarter</title>
    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">KidStarter</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="current-user" href="#Profile">Ivan</a></li>
                <li><a>:</a></li>
                <li><a id="user-role">User</a></li>
                <li><a href="#">Стать спонсором</a></li>
                <li><a href="/register">Регистрация</a></li>
                <li><a href="/login">Войти</a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="max-width: 200px">
            <ul class="nav nav-sidebar">
                <li><a href="/main">Главная</a></li>
                <li><a href="/tagPage">Теги</a></li>
                <li class="active"><a href="/cretejobtag">Создать интерес/тэг</a></li>
                <li><a href="/createUser">Создать пользователя</a></li>
                <li><a href="/editUser/1">Изменить пользователя</a></li>
                <li><a href="/jobPage">Интересы</a></li>
                <li><a href="/adminpage">Пользователи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Создать интерес:</h1>
            <div>
                <form class="navbar-form" onsubmit="createjob(); return false">
                    <table>
                        <tr>
                            <td><label for="input_jobname">Введите имя интереса:</label></td>
                            <td colspan="2"><input class="form-control" id="input_jobname" width="100%" type="text" name="input_jobname"></td>
                        </tr>
                        <tr>
                            <td><label for="input_jobdesc">Введите описание интереса:</label></td>
                            <td colspan="2"><input class="form-control" id="input_jobdesc" type="text" name="input_jobdesc"></td>
                        </tr>
                        <tr>
                            <td><label for="select_tagselect">Добавьте тэги:</label></td>
                            <td>
                                <select multiple class="btn btn-default dropdown-toggle" id="select_tagselect" name="select_tagselect">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input class="btn btn-default" type="submit" value="Создать интерес"></td>
                        </tr>
                    </table>
                </form>
                <label id="label_job_result" name="label_job_result"></label>
            </div>
            <h2 class="sub-header">Добавить новый тэг:</h2>
            <div>
                <form class="navbar-form" onsubmit="createtag(document.getElementById('input_tag_name').value); return false">
                    <table>
                        <tr>
                            <td><label for="input_tag_name">Введите имя тэга:</label></td>
                            <td><input class="form-control" id="input_tag_name" name="name" type="text"></td>
                            <td><input class="btn btn-default" type="submit" value="Создать тэг"></td>
                        </tr>
                    </table>
                </form>
                <label id="label_tag_result" name="label_tag_result"></label>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
<script src="/scripts/createjobtag.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</body>
</html>