<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

    <title>DonatePage</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<th:block sec:authorize="isAuthenticated()">
    <div th:replace="fragments/nav-bar::general-nav-sidebar"></div>
</th:block>
<div th:replace="fragments/nav-bar::main-header"></div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h4 th:text="${request.description}"></h4>
    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
        <!--410013409494788 мой кошель, 410016231774201 кидстартер кошель-->
        <input type="hidden" name="receiver" value="410016231774201">
        <input type="hidden" name="label" th:value="${request.id}">
        <input type="hidden" name="quickpay-form" value="donate">
        <input type="hidden" name="targets" th:value="${request.description}">
        <input type="hidden" name="need-fio" value="false">
        <input type="hidden" name="successURL" value="localhost:9999/requestPage">
        <input type="hidden" name="need-phone" value="false">
        <input type="hidden" name="need-address" value="false">
        <p><input name="sum" data-type="number" placeholder="Сумма пожертвования" required></p>
        <p><label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label></p>
        <p><label><input type="radio" name="paymentType" value="AC">Банковской картой</label></p>
        <p><input type="submit" value="Пожертвовать"></p>

    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
<link rel="stylesheet" href="/css/styles.css"/>
</body>
</html>