<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">
    <title>KidStarter</title>
    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
<div th:replace="fragments/htmlFragment::main-header"></div>

<div th:replace="fragments/crumbs::crumbs"></div>
<div th:replace="fragments/nav-bar::general-nav-sidebar"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Изменить интерес:</h1>
            <div>
                <form class="navbar-form" onsubmit="edit_job(); return false">
                    <table>
                        <tr>
                            <td><label for="input_jobname">Введите имя интереса:</label></td>
                            <td colspan="2"><input class="form-control" id="input_jobname" width="100%" type="text"
                                                   name="input_jobname"></td>
                        </tr>
                        <tr>
                            <td><label for="input_jobdesc">Введите описание интереса:</label></td>
                            <td colspan="2"><input class="form-control" id="input_jobdesc" type="text"
                                                   name="input_jobdesc"></td>
                        </tr>
                        <tr>
                            <td><label for="select_tagselect">Добавьте тэги:</label></td>
                            <td>
                                <select multiple class="btn btn-default dropdown-toggle" id="select_tagselect"
                                        name="select_tagselect">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="hidden" id="hidden_id"></td>
                            <td><input class="btn btn-default" type="submit" value="Изменить интерес"></td>
                        </tr>
                    </table>
                </form>
                <label id="label_job_result" name="label_job_result"></label>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
<link rel="stylesheet" href="/css/styles.css"/>
<script src="/scripts/editJob.js"></script>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</body>
</html>