<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Kidstarter</title>
    <meta charset="UTF-8" />
</head>
<body>

<div class="login">
    <form class="form-signin" name='loginForm' action="/main/login" method='POST'>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="login">Login</label>
        <input  id="login" class="form-control"  required placeholder="Login" type="text" name="username"/>
        <label for="password">Password</label>
        <input id="password" class="form-control" required placeholder="Password" type="password" name="password"/>
        <br/>
        <input class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="Login"/>
    </form>
</div>
</body>
</html>
