<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">

    <title>KidStarter</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="http://bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://bootstrap-3.ru/examples/dashboard/dashboard.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div th:replace="fragments/htmlFragment::main-header"></div>

<th:block sec:authorize="hasAnyAuthority('USER')">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" style="max-width: 200px">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/main">Главная</a></li>
                <li><a href="/tagPage">Теги</a></li>
                <li><a href="/cretejobtag">Создать интерес/тэг</a></li>
                <li class="active"><a href="/createUser">Создать пользователя</a></li>
                <li class="active"><a href="/organizationPage">Список организаций</a></li>
                <li class="active"><a href="/createOrganization">Создать организацию</a></li>
                <li><a href="/editOrganization/1">Изменить организацию</a></li>
                <li><a href="/editUser/1">Изменить пользователя</a></li>
                <li><a href="/jobPage">Интересы</a></li>
                <li><a href="/adminpage">Пользователи</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
</th:block>
<div class="text-center">
            <h1 class="page-header">Здравствуй, добрый человек!</h1>
            <div>
                <p>На этом портале ты можешь помочь детям стать лучше.</p>
            </div>
            <h2 class="sub-header">Список активных запросов:</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Организация</th>
                        <th>Адрес</th>
                        <th>Количество детей</th>
                        <th>Количество учетелей</th>
                        <th>Потребность</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Школа №1</td>
                        <td>Бобруйск</td>
                        <td>12</td>
                        <td>0</td>
                        <td>Рисование</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://bootstrap-3.ru/dist/js/bootstrap.min.js"></script>
<script src="http://bootstrap-3.ru/assets/js/docs.min.js"></script>
<script src="/scripts/all_scripts.js"></script>
</body>
</html>